<p>about-us works!</p>
<!DOCTYPE html>
<html>
<head>
<title>Our Services</title>
</head>
<body>

<div class="row" id="image">
    <div class="column1" >
		<h2>EasyFix</h2>
		<h4><font color="black">Do you need a quick solution to your Vehicle issues?</h4>
		<p>
<h3>Our Goals!</h3>

 Provide vehicle drivers and mechanics/service centers with a platform to contact each other during an emergency and non-emergency situations.
 
Letting the system to be accessed from anywhere at any time by providing a mobile application.

Creating a user-friendly platform for all users.

Provide the best service to the customer.

Enable customers to settle payment through the system.



		<br>Get support right away without having any trouble. Contact Us! today!</p>
		</br>
		
		</font>
	</div>
 
  </div>
 </body>
 </html>
	
