<form class="modal-content animate"  (ngSubmit)="submit(form.value.uname,form.value.psw)" #form="ngForm" style="width: 500px;">
        <!-- Material input -->
        <div align="right" class="close_button">
        <a Onclick="id01.style.display='none'"><mat-icon >close</mat-icon></a>
        </div>
        <div style="margin-bottom: 10px; text-align: center;"><h2>Contact Us!</h2></div>
                        
                        
                        
                        
                        <div class="row" style=" margin-left: auto; margin-right: auto; width: 50%; display: block;">
                     <div style="width: 500px;">
                            <mat-form-field appearance="legacy">
                                    <mat-label>Firstname</mat-label>
                                    <input matInput placeholder="Your name">
                                        <mat-icon matSuffix>account_circle</mat-icon>
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="legacy">
                                    <mat-label>Lastname</mat-label>
                                    <input matInput placeholder="Your last name">
                                        <mat-icon matSuffix>account_circle</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Your email">
                                            <mat-icon matSuffix>account_circle</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field appearance="legacy">
                                            <mat-label>Write something</mat-label>
                                            <input matInput placeholder="">
                                                
                                        </mat-form-field>
        
    
                                      
                            <div>
                
                            </div>   
                            <button mat-raised-button color="warn" style="margin-left: auto; margin-right: auto;  margin-bottom:10px;width: 50%; display: block; margin-bottom: 50px;">Submit</button> 
                        </div>
    
                    
      </form>
    

    
    