body {font-family: "Lato", sans-serif;}

.sidebar {
  margin-top: 70px;
  height: 100%;
  width: 300px;
  position: fixed;
  // z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  // overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: rgb(216, 168, 104);
}

a{
  text-align: center;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
hr{
  background-color: rgb(216, 168, 104);
  width: 75%;
}

.animation{
  transition: 0.3s;
  cursor: pointer;
}
a:nth-child(odd):hover {
  transform: perspective(300px) rotateY(30deg);
  padding-left: 5%;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 12px;}
}

