
<!-- <div class="row " style="padding-bottom: 0%;">
    <img src="../../assets/img/frontimage.jpeg"  class="img-fluid image" alt="Responsive image">
    <div class="overlay"></div>
    <div class="centered">
        <span style="font-size: 100px;">EasyFix</span>
        <p style="font-size: 50px;">{{name}}</p>
    </div>
</div> -->
<!-- <mat-sidenav-content fxFlexFill>
      <img src="../../assets/img/frontimage.jpeg" style="width: 100%; height: 90vh;">
    </mat-sidenav-content>  -->
<div style="padding: 60px;">
    <h1>OUR SERVICES</h1>
    <p style="font-size:16px">Book a service online & our mechanics will come to your doorstep to service your vehicles. We make the entire process easy for you. Using our website and mobile app ypu can access the maintenance history of your all vehicles, get a fair & transparent price, book an appoinment, make payments & get reminders. </p>
    <p style="font-size:30px; text-align:center;">From oil changes to transmission replacements, you can find the best mechanic for your requirement</p>
    <h2 style="text-align:center">MAKE YOUR FIXING EASY</h2>
    <h2 style="text-align:center;">SAVE YOUR TIME</h2>

</div>

<!-- <div class="modal-body row">
    
        <div class="col-md-3">
            <img src="../../assets/img/image2.jpg"  class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="../../assets/img/image3.jpg"  class="img-fluid" alt="Responsive image">      
        </div>
        <div class="col-md-3">
            <img src="../../assets/img/image4.jpg"  class="img-fluid" alt="Responsive image">    
        </div>
        <div class="col-md-3">
            <img src="../../assets/img/image8.JPG" style="height:225px; width: 100%;" class="img-fluid" alt="Responsive image">    
        </div>
</div>         -->

<mat-grid-list cols="3" >
        <mat-grid-tile><img src="../../assets/img/image2.jpg" style="width: 100%;" ></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/img/image4.jpg" style="width: 100%;"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/img/image3.jpg" style="width: 100%;"></mat-grid-tile>
        
</mat-grid-list>
      
    
<div class="modal-body row">
    <div class="col-md-6">
        <img src="../../assets/img/phone1.jpg"  class="img-fluid image image-phone" alt="Responsive image">
        
    </div>
    <div class="col-md-6 " style="text-align: center;">
              <!-- <p>all you need to do is download the app from your iOS phones or Android phones and sign up</p>
              <h1>Download our app Now!</h1>
    </div>
</div> -->

</div>