<!-- Section 1 -->

<div class="parallax container-fluid image row"></div>
        <div class="centered">
            <span>EasyFix</span>
            <p style="font-size: 50px;">Search, Click & Fix</p>
        </div>
        
<!-- section 2     -->
<mat-grid-list cols="4" style="margin-top:50px;padding-top: 50px;" rowHeight="600px">
    <mat-grid-tile  class="col-sm-3 col-md-6 col-lg-4" >
        <mat-card class="example-card shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
            <mat-card-header>
                <mat-card-title>Get mechanic to your doorstep</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/matcard1.jpg" style="height:200px" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    If your vehicle stuck while travelling; No need to worry.
                    You can get the best nearest mechanic to your doorstep using EasyFix.
                </p>
            </mat-card-content>
            
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile class="col-sm-3 col-md-6 col-lg-4">
            <mat-card class="example-card shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
                    <mat-card-header>
                        <mat-card-title>Make appointments online</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/image8.JPG" style="height: 200px;" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        EasyFix enables make appoinments with service centers.
                        You can choose any service center that suits for your need.          
                    </p>
                    </mat-card-content>
                    
                </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile class="col-sm-3 col-md-6 col-lg-4">
            <mat-card class="example-card shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
                    <mat-card-header>
                        <mat-card-title>Maintain vehicle's service records</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/matcard3.jpg" style="height: 200px;" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                                Keeping a detailed record of all repairs, maintenance, and inspection is an essential duty of a vehicle owner. It enhances operator safety, 
                                prevents unnecessary expensive repairs and helps to keep your vehicle in good condition. EasyFix automates this service for you. 
                        </p>
                    </mat-card-content>
                </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile class="col-sm-3 col-md-6 col-lg-4">
            <mat-card class="example-card shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
                    <mat-card-header>
                        <mat-card-title style="padding-bottom: 30px;">Make Online Payments</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/online.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            EasyFix accepts online payments.We make the entire process easy for you.
                        </p>
                    </mat-card-content>
                            
                </mat-card>   
        
    </mat-grid-tile>
    

</mat-grid-list>
<!-- <div >   
    <div class="row container-fluid" style=" background-image: url(../../assets/img/image3.jpg);">
        
        <mat-card class="example-card col-3">
            <mat-card-header>
                <mat-card-title>Get mechanic to your doorstep</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/matcard1.jpg" style="height:200px" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    If your vehicle stuck while travelling; No need to worry.
                    You can get the best nearest mechanic to your doorstep using EasyFix.
                </p>
            </mat-card-content>
    
        </mat-card>

        <mat-card class="example-card col-3">
            <mat-card-header>
                <mat-card-title>Make appointments online</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/image8.JPG" style="height: 200px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                EasyFix enables make appoinments with service centers.
                You can choose any service center that suits for your need.          
            </p>
            </mat-card-content>
            
        </mat-card>

        <mat-card class="example-card col-3">
            <mat-card-header>
                <mat-card-title>Maintain vehicle's service records</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/matcard3.jpg" style="height: 200px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                        Keeping a detailed record of all repairs, maintenance, and inspection is an essential duty of a vehicle owner. It enhances operator safety, 
                        prevents unnecessary expensive repairs and helps to keep your vehicle in good condition. EasyFix automates this service for you. 
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card col-3">
            <mat-card-header>
                <mat-card-title style="padding-bottom: 30px;">Make Online Payments</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/online.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    EasyFix accepts online payments.We make the entire process easy for you.
                </p>
            </mat-card-content>
                    
        </mat-card>      
        
    </div>
</div>      -->

<!-- Section 3 -->

<div class="row caption" style="margin-top:10px">
    <img src="../../assets/img/mechanic.jpg" class=" img-fluid" style="height: 650px; width: 100%;">
    <div class="centered">
        <p class="shadow" style="font-size: 40px;">From oil changes to transmission replacements, find the best & nearest mechanic for your requirement</p>
    </div>
    <!-- <div class="container-fluid" align="right">
            
            <p style="font-size: 50px;">From oil changes to transmission replacements, find the best & nearest mechanic for your requirement</p>
    </div> -->
</div> 

<!-- Section 4 -->
<div>

</div>
