
<!-- <div class="row " style="padding-bottom: 0%;">
    <img src="../../assets/img/frontimage.jpeg"  class="img-fluid image" alt="Responsive image">
    
    <div class="centered">
        <span style="font-size: 100px;">EasyFix</span>
        <p style="font-size: 50px;">Search, Click & Fix</p>
    </div>
</div> -->
   
<div style="padding: 60px;  margin-bottom: 100px;" class="responsive row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p style="font-size:40px; text-align:center;">From oil changes to transmission replacements, find the best & nearest mechanic for your requirement</p>
        <p class="big">Book a service online & our mechanics will come to your doorstep to service your vehicles. We make the entire process easy for you. Using our website and mobile app you can access the maintenance history of your all vehicles, get a fair & transparent price, book an appoinment, make payments & get reminders. </p>
        <div class="row">
            <div class="col-xs-1 center-block">
                <button type="button" class="btn btn-outline-warning btn-lg" style="align-items:center;height:50px; width: 150px;">READ MORE</button>
            </div>
        </div>
    </div>

</div>

<!-- <mat-grid-list cols="3" >
        <mat-grid-tile><img src="../../assets/img/image2.jpg" style="width: 100%;" ></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/img/image4.jpg" style="width: 100%;"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/img/image3.jpg" style="width: 100%;"></mat-grid-tile>
        
</mat-grid-list> -->
      


<div class="row" style="margin-bottom: 50px;"  >
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="../../assets/img/mechanic.jpg" class="rounded-circle responsive img-fluid round shadowright">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" >
        <h2 style="text-align:center">MAKE YOUR FIXING EASY</h2>
        <h2 style="text-align:center;">SAVE YOUR TIME</h2>
    </div>
</div>
<br>
<div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-6 col-md-6 col-lg-6" >
        
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- <span class="rounded-circle"></span> -->
        <img src="../../assets/img/default.jpg" class="rounded-circle responsive img-fluid round shadowleft">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" >
        <img src="../../assets/img/mobileapp.jpg" class="rounded-circle responsive img-fluid round shadowright">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" >
        
    </div>
</div>
  
<!-- <h1>Download our app Now!</h1>
    </div>
</div> -->

