// .centered {
//     position: absolute;
//     color: white;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-weight: 1000;
//   }


// section 1 text animation

.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.container span {
  color: white;
  text-transform: uppercase;
  display: block;
}
.text1{
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 4s 1;
  background: transparent;

}
.text2{
  font-size: 45px;
  font-weight: 500;

}
@keyframes text{
  0%{
    color: transparent;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
  .image{
    padding-top: 0px;   
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    padding-bottom: 0px;
    
  
  }
  
  
  .parallax {
    /* The image used */
    background-image: url('../../assets/img/frontimage.jpeg');
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  i{font-size:100px;}

  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .caption {
    position: relative;
    text-align: center;
    color: white;
  }
  .text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }