<div style="margin-left: -25px; margin-right: -25px;margin-top: -10px;">
  <div style="padding-top: 30px; padding-left: 13px; font-weight: 400;">
    <h3>User Register Requests</h3>
  </div>
  <div>
    <hr class="line">
  </div>
  <div>
    <mat-tab-group style="padding-left: 20px; padding-right: 20px;">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">people</mat-icon>
          Mechanic
        </ng-template>
        <div align=center class="data datarow">

          <mat-accordion >
            <mat-expansion-panel *ngFor="let user of mechanics">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: bold;">
                {{user.data.Name}} 
                </mat-panel-title>
              
              </mat-expansion-panel-header>       
              <div style="font-weight: 900;">Phone Number: {{user.data.number}}</div>
              <div>Email: {{user.data.email}}</div>
              <div>NIC Number: {{user.data.nic}}</div>
              <div>Phone Number: {{user.data.number}}</div>
              <div>Types of Vehicles being repaired: {{user.data.vehicleType}}</div>
              <!-- <div>{{user.data.v_type}}</div> -->
              <div class="row"style="margin-bottom: 50px;">                
                <div class="col">profile Photo</div>
                <div class="col">NIC Copy</div>
              </div>
              <div class="row"style="margin-bottom: 50px;">                
                <div class="col"><img src="{{user.data.profileImage}}"></div>
                <div class="col"><img src="{{user.data.NICcopy}}"></div>
              </div>
            
              <tr>
                <button  style="margin-right: 20px;" (click)="approve(user.id)" type="button" class="btn btn-success">Accept</button>
                <button (click)="delete(user.id)" type="button" class="btn btn-danger">Reject</button>
              </tr>  
              
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">build</mat-icon>
          Service Center
        </ng-template>
        <div align=center class="data datarow">

          <mat-accordion >
            <mat-expansion-panel *ngFor="let user of serviceCenters">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: bold;">
                {{user.data.Name}}
                </mat-panel-title>
              
              </mat-expansion-panel-header>
              <div>Email: {{user.data.email}}</div>
              <div>Registration Number: {{user.data.registerNumber}}</div>
              <div>Address: {{user.data.address}}</div>
              <div>Phone Number: {{user.data.number}}</div>
              <div>Hotline: {{user.data.hotline}}</div>
              <div>Types of Vehicles being repaired: {{user.data.vehicleType}}</div>

              <img src="{{user.data.certificate_img}}">
              <div>
                <button style="margin-right: 20px;" (click)="approve(user.id)" type="button" class="btn btn-success">Accept</button>
                <button (click)="delete(user.id)" type="button" class="btn btn-danger">Reject</button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div> 
</div>   





