<div>
  <div></div>
  <mat-accordion >
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{user.data.FirstName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <td>{{user.FirstName}}</td> -->
  
      <tr>{{user.data.LastName}}</tr>
      <tr>{{user.data.email}}</tr>
      <img src="{{user.data.image}}">
      <button (click)="approve(user.id)">Submit</button>
      <button (click)="delete(user.id)">Delete</button>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
    </mat-expansion-panel>
  </mat-accordion>
</div>

