<div  style="margin-left: -25px; margin-right: -25px;">

<div style="padding-top: 30px; padding-left: 20px; font-weight: 400;">
    <h3>My Profile</h3>
</div>

<div>
    <hr  class="line">
</div>

<mat-tab-group style="padding-left: 20px; padding-right: 20px;">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person</mat-icon>
            profile
        </ng-template>
        <div *ngIf="!flag" style="height:700px;"></div>
        <div *ngIf="flag">
            <div align="center" style="margin-top: 100px;">            
                <img src="{{userDeatil.profileImage}}" alt="Avatar">    
            </div>
            <div align="center">
                <mat-card class="example-card" style="align-items: center;">
                
                    <mat-card-content>
                        <div class="row">
                            <mat-icon class="col-1 icon">perm_identity</mat-icon>
                            <div class="col-4 left">
                                <p>Name</p>
                            </div>
                            <div class="col-8 right">
                                <p>{{userDeatil.Name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon">check_circle_outline</mat-icon>
                            <div class="col-4 left">
                                <p>User Type</p>
                            </div>
                            <div class="col-8 right">
                                <p>{{userDeatil.usertype}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon" >mail_outline</mat-icon>
                            <div class="col-3 left">
                                <p>E-mail</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon">phone</mat-icon>
                            <div class="col-3 left">
                                <p>Phone Number</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.number}}</p>
                            </div>
                        </div>
                        <div *ngIf="userDeatil.usertype=='Mechanic'">
                          <div class="row">
                            <mat-icon class="col-1 icon">commute</mat-icon>
                            <div class="col-3 left">
                                <p>Reparing vehicle Types </p>
                            </div>
                            <div class="col-8 right" style="padding-left: 80px;">
                                <p *ngFor="let vehicle of userDeatil.vehicleType">{{vehicle}}</p>
                            </div>
                          </div> 
                        </div>
                        

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">create</mat-icon>
            Edit
        </ng-template> 
        <div *ngIf="!flag" style="height:700px;"></div>
        <form *ngIf="flag" [formGroup]="editForm">
            
            <div class="edit">
                <mat-card class="example-card" >
                    <div style="padding-left:100px; padding-bottom:20px;" class="row">
                        <img src="{{userDeatil.profileImage}}" alt="">
                        
        
                    </div>
                    <div class="row">
                        <label >Select your new Image</label>
                        <input type="file" (change)="fileSelect($event.target)">
                    </div>
                    <div class="row">
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row">            
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label> Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row">    
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Legacy form field</mat-label>
                            <input matInput placeholder="Phone number" formControlName="number">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row">    
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Legacy form field</mat-label>
                            <input matInput placeholder="NIC" formControlName="nic">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>   
                    <button style="margin-left: 150px;" class="btn btn-primary" (click)="updateProfile()">Update</button> 
            </mat-card>   
          </div>
        </form> 
    
    </mat-tab>
    
  
    
  </mat-tab-group>
</div>