<div  style="margin-left: -25px; margin-right: -25px;">

<div style="padding-top: 30px; padding-left: 20px; font-weight: 400;">
    <h3>My Profile</h3>
</div>

<div>
    <hr  class="line">
</div>

<mat-tab-group style="padding-left: 20px; padding-right: 20px;">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">person</mat-icon>
            profile
        </ng-template>
        <div *ngIf="!flag" style="height:700px;"></div>
        <div *ngIf="flag">
            <div *ngIf="userDeatil.usertype!='Service'" align="center" style="margin-top: 100px;">            
                <img src="{{userDeatil.profileImage}}" alt="Avatar">    
            </div>
            <div align="center">
                <mat-card class="example-card" style="align-items: center;">
                
                    <mat-card-content>
                        <div class="row">
                            <mat-icon class="col-1 icon">perm_identity</mat-icon>
                            <div class="col-4 left">
                                <p>Name</p>
                            </div>
                            <div class="col-8 right">
                                <p>{{userDeatil.Name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon">check_circle_outline</mat-icon>
                            <div class="col-4 left">
                                <p>User Type</p>
                            </div>
                            <div class="col-8 right">
                                <p>{{userDeatil.usertype}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon" >mail_outline</mat-icon>
                            <div class="col-3 left">
                                <p>E-mail</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <mat-icon class="col-1 icon">phone</mat-icon>
                            <div class="col-3 left">
                                <p>Phone Number</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.number}}</p>
                            </div>
                        </div>
                        <div class="row"  *ngIf="userDeatil.usertype=='Service'">
                            <mat-icon class="col-1 icon">emoji_transportation</mat-icon>
                            <div class="col-3 left">
                                <p>Registration Number</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.registerNumber}}</p>
                            </div>
                        </div>
                        <div class="row"  *ngIf="userDeatil.usertype=='Service'">
                            <mat-icon class="col-1 icon">home</mat-icon>
                            <div class="col-3 left">
                                <p>Address</p>
                            </div>
                            <div class="col-8 right" style="padding-left: 90px;">
                                <p>{{userDeatil.address}}</p>
                            </div>
                        </div>
                        <div *ngIf="userDeatil.usertype=='Mechanic' || userDeatil.usertype=='Service'">
                          <div class="row">
                            <mat-icon class="col-1 icon">commute</mat-icon>
                            <div class="col-3 left">
                                <p>Reparing vehicle Types </p>
                            </div>
                            <div class="col-8 right" style="padding-left: 80px;">
                                <p *ngFor="let vehicle of userDeatil.vehicleType">{{vehicle}}</p>
                            </div>
                          </div> 
                        </div>
                        <div *ngIf="userDeatil.usertype=='Mechanic' || userDeatil.usertype=='Service'">
                            <div class="row" >
                              <mat-icon class="col-1 icon">directions_car</mat-icon>
                              <div class="col-3 left">
                                  <p>Hybrid</p>
                              </div>
                              <div class="col-8 right" style="padding-left: 80px;"  *ngIf="userDeatil.hybrid">
                                <mat-icon class="col-1 icon" style="color: blue;">check</mat-icon>
                              </div>
                              <div class="col-8 right" style="padding-left: 80px;"  *ngIf="!userDeatil.hybrid">
                                <mat-icon class="col-1 icon" style="color: red;">close</mat-icon>
                              </div>
                            </div> 
                            
                        </div>
                        <div *ngIf="userDeatil.usertype=='Mechanic' || userDeatil.usertype=='Service'">
                            <div class="row" >
                              <mat-icon class="col-1 icon"  >directions_bike</mat-icon>
                              <div class="col-3 left">
                                  <p>Non Hybrid</p>
                              </div>
                              <div class="col-8 right" style="padding-left: 80px;"  *ngIf="userDeatil.nonhybrid">
                                <mat-icon class="col-1 icon"  style="color: blue;">check</mat-icon>
                              </div>
                              <div class="col-8 right" style="padding-left: 80px;"  *ngIf="!userDeatil.nonhybrid">
                                <mat-icon class="col-1 icon" style="color: red;">close</mat-icon>
                              </div>
                            </div> 
                            
                        </div>
                        

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">create</mat-icon>
            Edit
        </ng-template> 
        <div *ngIf="!flag" style="height:700px;"></div>
        <form *ngIf="flag" [formGroup]="editForm">
            
            <div class="edit">
                <mat-card class="example-card" >
                    <div style="padding-left:100px; padding-bottom:20px;" class="row" *ngIf="userDeatil.usertype!='Service'">
                        <img src="{{userDeatil.profileImage}}" alt="">
                        
        
                    </div>
                    <div class="row" *ngIf="userDeatil.usertype!='Service'">
                        <label >Select your new Image</label>
                        <input type="file" (change)="fileSelect($event.target)">
                    </div>
                    <div class="row">
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="Name">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row">            
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label> Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="row">    
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone number" formControlName="number">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    
                    <div class="row" *ngIf="userDeatil.usertype=='Service'">    
                        <mat-form-field style="width: 400px;" appearance="legacy">
                            <mat-label>Hotline</mat-label>
                            <input matInput placeholder="Hotline" formControlName="hotline">
                            <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>   
                    <button style="margin-left: 150px;" class="btn btn-primary" (click)="updateProfile()">Update</button> 
            </mat-card>   
          </div>
        </form> 
    
    </mat-tab>
    
  
    
  </mat-tab-group>
</div>