<div  style="margin-left: -25px; margin-right: -25px;">

    <div style="padding-top: 30px; padding-left: 20px; font-weight: 400;">
        <h3>My Profile</h3>
    </div>
    
    <div>
        <hr  class="line">
        <mat-tab-group>
            <mat-tab label="First">  <app-view-mechcnics></app-view-mechcnics> </mat-tab>
            <mat-tab label="Second"><app-view-customer></app-view-customer></mat-tab>
            <mat-tab label="Third"> <app-view-service-centers></app-view-service-centers> </mat-tab>
        </mat-tab-group>
</div>
