<div class="row" style="padding: 100px 400px 0px 400px;">
    <!-- Card -->
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/image1.jpg" style="height: 350px;"alt="Card image cap">
        <div align="center" class="card-body">
            <h4 class="card-title" style="font-weight: bold;"><a>Sign Up</a></h4>
            
            <div class="mechanic-container" style="padding: 10px 80px 10px 80px;">
                <mat-form-field>
                    <input matInput placeholder="Full Name">
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Email Address">
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-3 col-md-6 col-lg-4" style="padding-right: 360px;">
                        <mat-form-field>
                            <input matInput placeholder="Mobile Number">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3 col-md-6 col-lg-4">
                        <mat-form-field>
                            <input matInput placeholder="NIC">
                        </mat-form-field>
                    </div>
                </div> 
                <mat-form-field>
                        <input matInput placeholder="Password">
                </mat-form-field> 
                <mat-form-field>
                    <input matInput placeholder="Confirm Password">
                </mat-form-field>  
            </div>    
            <!-- Button -->
          <a href="#" class="btn btn-primary">submit</a>
          <a href="#" class="btn btn-primary" style="margin-left:50px ;">Cancel</a>
      
        </div>
      
      </div>
      <!-- Card -->
</div>