<form class="modal-content animate"  (ngSubmit)="Login(form.value)" #form="ngForm" style="width: 500px;">
    
    <!-- Material input -->
    <div align="right" class="close_button">
        <a Onclick="id01.style.display='none'">
            <mat-icon >close</mat-icon>
        </a>
    </div>
    
    <div class="heading">
        <h2>Welcome Back !!</h2>
    </div>
                    
    <div>
        <img src="../../assets/img/login.jpg">
    </div>
                    
                    
    <div class="row" class="form-container">
        <div>
            <mat-form-field>
                <mat-label>Username</mat-label>
            <input matInput placeholder="Email or Phone Number" name="username" ngModel>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </div>    

                                  
        <div>
                <mat-form-field>
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
        </div>                 
    </div>
        
    <div>
        <button class="login-btn btn-rounded" mat-raised-button color="warn" >Login</button>             
    </div>
        
    <div class="link">Don't have an account? <a href="/register">Register Now !</a></div>

</form>
