
.mechanic-container {
  display: flex;
  flex-direction: column;
}

.mechanic-container > * {
  width: 100%;
} 
.content{
padding: 100px 100px 100px 100px;
}
span{
color:orange;
}
h2{
font-weight: bold;
} 





