<div  class="img">
    <div class="container" style="padding-top: 10px">
      
        <div align="right" class="text-center container" style="margin-top: 50px;">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Home</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">assignment</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Appointments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">person</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>My Profile</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">how_to_reg</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Register Requests</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home_work</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Make Appointments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">verified_user</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">error</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Issue Reporting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">person_add_disabled</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Blocked Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
