<div  class="img">
    <div class="container" style="padding-top: 50px">
      
        <div align="right" class="text-center container" style="margin-top: 100px;margin-bottom: 130px;">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home_work</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>hiiiiiiiiii</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="right" class="text-center container" style="margin-top: 100px;margin-bottom: 130px;">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home_work</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>hiiiiiiiiii</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
