<div  class="img">
    <div class="container" style="padding-top: 10px" >
      
        <div class="text-center container" style="margin-top: 50px;" [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Home</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Service'">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">assignment</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Appointments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" [routerLink]="['../dashboard/']" routerLinkActive="router-link-active" >
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">person</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>My Profile</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" [routerLink]="['../dashboard/registerRequests']" routerLinkActive="router-link-active" *ngIf="usertype=='Service'">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">how_to_reg</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Register Requests</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Customer'">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">home_work</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Make Appointments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Admin'" [routerLink]="['../dashboard/viewUsers']" routerLinkActive="router-link-active">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">verified_user</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Manage Users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Customer' || usertype=='Service'">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;" [routerLink]="['../dashboard/issue_h']">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">error</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Issue Reporting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Admin'"  [routerLink]="['../dashboard/block_user']" routerLinkActive="router-link-active">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">error</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Issue Handling</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center container" *ngIf="usertype=='Admin'" [routerLink]="['../dashboard/block_user']" routerLinkActive="router-link-active">
            <div class="row" >
                <div class="col-md-6" style="margin-top: 5px;">
                    <div class="row menu_div" >
                        <div class="col-md-2 menu_icon_back">
                            <i class="material-icons menu_icon">person_add_disabled</i>
                        </div>
                        <div class="col-md-10 menu_text_back" style="color:white;">
                            <p>Black list</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>