// .text {
//     font-weight:bold; 
//     font-family:  'Quicksand', sans-serif;
    
// }

// .navbar {
//     justify-content: space-between;
// }

// span {
//     padding-right: 1rem;
// }
.sidenav{color: #000;}
.menu-spacer {
  flex: 1 1 auto;
}

.centered {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 1000;
}
.image{
  padding-top: 0px;
  height: 90vh;
  margin-top: 60px;   
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  padding-bottom: 0px;


}