
<nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: white; font-weight:bold">
  <a class="navbar-brand" href="/"><img (click)="flagTrue()" src="../../assets/img/logo.png" style="width: 220px; height: 60px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" *ngIf="flag">
     
      <li class="nav-item " routerLinkActive="active" >
        <a class="nav-link" pageScroll href="#start" >Home</a>
      </li>
      <li class="nav-item " routerLinkActive="active" >
        <a class="nav-link" pageScroll href="#services" >Services</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" pageScroll href="#aboutus">About Us</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link"  pageScroll href="#contactus">Contact Us</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="!flag">
     
      <li (click)="flagTrue()" class="nav-item " routerLinkActive="active" >
        <a class="nav-link"  href="/" >Home</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="auth.logingStatus" (click)="flagFalse()"><a routerLink="/menu" style="padding-right: 25px;" routerLinkActive="active"><mat-icon>menu</mat-icon>Menu</a></li>
      <li *ngIf="!auth.logingStatus" (click)="flagFalse()"><a routerLink="/registration" style="padding-right: 25px;" routerLinkActive="active">Sign Up</a></li >
      <li *ngIf="auth.logingStatus" (click)="flagFalse()"><a routerLink="/dashboard" style="padding-right: 25px;" routerLinkActive="active"><mat-icon>person</mat-icon>Profile</a></li>
      <li *ngIf="!auth.logingStatus"  ><a Onclick="id01.style.display='block'" style="width:auto;"  ><mat-icon>lock_open</mat-icon>{{Log}}</a></li>
      <li *ngIf="auth.logingStatus" (click)="signout()"><a style="width:auto;" ><mat-icon>lock_open</mat-icon>{{auth.username}}</a></li>
  </ul>
  
  </div>
</nav>
<div id="id01" class="modal"  #id01>
    <app-login></app-login>
</div> 
