<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/AddEmp-form.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">My App</a>
    </header>
    <ul class="nav">
      <li>
        <a href="AddEmployee.jsp">
          <i class="zmdi zmdi-view-dashboard"></i> Employee 
        </a>
      </li>
      <li>
        <a href="Salary.jsp">
          <i class="zmdi zmdi-link"></i> Financial 
        </a>
      </li>
      <li>
        <a href="Attendance.jsp">
          <i class="zmdi zmdi-widgets"></i> Attendance
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-calendar"></i> Events
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-info-outline"></i> About
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-settings"></i> Services
        </a>
      </li>
      <li>
        <a href="#">
          <i class="zmdi zmdi-comment-more"></i> Contact
        </a>
      </li>
    </ul>
  </div>
  

 <div class="container">
  <form method="POST" action="AddEmployeeServlet">  
  <div class="row">
    <div class="col-25">
      <label for="lname"><h2>Add Employee</h2></label>
    </div>
    <div class="col-75">
      <input type="text" name="search-to-date" id="search-to-date" style="width:35%" placeholder="Today is..">
    </div>
</div>
</form>
</div>
    
</div>
</body>
</html>