<div  style="margin-left: -25px; margin-right: -25px;">

    <div style="padding-top: 30px; padding-left: 20px; font-weight: 400;">
        <h3>My Profile</h3>
    </div>
    
    <div>
        <hr  class="line">
    </div>
    
   
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person</mat-icon>
                profile 
            </ng-template>
            <div *ngIf="!flag" style="height:700px;"></div>
            <div *ngIf="flag">
                <div align="center" style="margin-top: 100px;">            
                   
                    <div *ngIf="userDeatil.usertype!='Service'">
                        <img src="{{userDeatil.profileImage}}">
                    </div>
                    <div *ngIf="userDeatil.usertype=='Service'">
                        <img src="{{userDeatil.certificate_img}}" style="max-width: 500px;">
                    </div>

                </div>
                <div align="right" style="margin-right: 100px;">
                    <button class="btn btn-primary" (click)="unBlockUser()" [disabled]="!userDeatil.blockstatus" style="margin-right: 30px;">UnBlock</button>
                    <button class="btn btn-danger" (click)="blockUser()" [disabled]="userDeatil.blockstatus" style="margin-right: 30px;">Block</button>
                    <p><small style="color: red;" *ngIf="userDeatil.blockstatus">Already blocked user</small></p>
                </div>
                <div align="center">
                    <mat-card class="example-card" style="align-items: center;">
                    
                        <mat-card-content>
                            
                            <div class="row">
                                
                                <mat-icon class="col-1 icon">perm_identity</mat-icon>
                                <div class="col-3 left">
                                    <p>Name</p>
                                </div>
                                <div class="col-8 right">
                                    <p>{{userDeatil.Name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <mat-icon class="col-1 icon">check_circle_outline</mat-icon>
                                <div class="col-3 left">
                                    <p>User Type</p>
                                </div>
                                <div class="col-8 right">
                                    <p>{{userDeatil.usertype}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <mat-icon class="col-1 icon" >mail_outline</mat-icon>
                                <div class="col-3 left">
                                    <p>E-mail</p>
                                </div>
                                <div class="col-8 right" style="padding-left: 90px;">
                                    <p>{{userDeatil.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <mat-icon class="col-1 icon">phone</mat-icon>
                                <div class="col-3 left">
                                    <p>Phone Number</p>
                                </div>
                                <div class="col-8 right" style="padding-left: 90px;">
                                    <p>{{userDeatil.number}}</p>
                                </div>
                            </div>
                            <div *ngIf="userDeatil.usertype=='Mechanic'">
                              <div class="row">
                                <mat-icon class="col-1 icon">commute</mat-icon>
                                <div class="col-3 left">
                                    <p>Reparing vehicle Types </p>
                                </div>
                                <div class="col-8 right" style="padding-left: 80px;">
                                    <p >{{userDeatil.vehicleType}}</p>
                                </div>
                              </div> 
                            </div>
    
                        </mat-card-content>
                    </mat-card>
                    
                </div>
            </div>
    </div>