.mechanic-container {
    display: flex;
    flex-direction: column;
  }
  
.mechanic-container > * {
    width: 100%;
  }

  .centered {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 1000;
  }
  .image{
    padding-top: 0px;   
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    padding-bottom: 0px;
    
  
  }
  .parallax {
    /* The image used */
    background-image: url('../../assets/img/frontimage.jpeg');
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .caption {
    position: relative;
    text-align: center;
    color: white;
  }
  .shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .content{
    padding: 100px 100px 100px 100px;
    }
    span{
    color:orange;
    }
    h2{
    font-weight: bold;
    } 