
<div class="row" style="padding: 100px 400px 0px 400px;">
        <!-- Card -->
        <div class="card">

                <h4 class="card-title" style="font-weight: bold;"><a>About Us</a></h4>
            <img class="card-img-top" src="../../../assets/img/a.jpg" style="height: 350px; width:100%; "alt="Card image cap">
            <div align="center" class="card-body">
                
                <h3>Our Goals!</h3>

 <li>Provide vehicle drivers and mechanics/service centers with a platform to contact each other during an emergency and non-emergency situations.</li>
 
<li>Letting the system to be accessed from anywhere at any time by providing a mobile application.</li>

<li>Creating a user-friendly platform for all users.</li>

<li>Provide the best service to the customer.</li>

<li>Enable customers to settle payment through the system.</li>


<h3>Objectives</h3>
<li>Bridge the gap between the customer and the service provider and make those services efficient and effective.
<li>Letting the system to be accessed from anywhere at any time by providing a mobile application.</li>
<li>Creating a user-friendly platform for all users.</li>
<li>Provide the best service to the customer.</li>
<li>Enable customers to settle payment through the system.</li>






                
               
          
          </div>
          <!-- Card -->
    </div>