<div class="row caption" style="margin-top:10px">
    <img src="../../assets/img/IMG_873287.jpg" class=" container-fluid" style="height: 500px; width: 100%;">
    <div class="centered">
        <p class="shadow" style="font-size: 40px;">Welcome to EasyFix</p>
        <p  style="padding-top: 0px;">Sri Lankan biggest platform for mechanics and vehicle owners</p>
    </div>
</div> 

<div class="row" style="margin-top:30px; margin-bottom: 10px; padding-right: 50px;">
    <div class="col-4">
        <img src="../../assets/img/image7.jpg" class=" img-fluid" style="height:400px; width: 100%; margin-left: 50px;">
    </div>

    <div class="col-8">
        <h2 style="padding-top: 100px; padding-left:40px;">Who <span>Are </span>we ?</h2>
        <p class="content" style="font-size: 20px; padding-top:0px;">
            Mobile and web application to find mechanic from the
            location where you are for both in emergency cases and
            non-emergency cases.
                    
        </p>
       
    </div>
</div> 