// body {
//     font-family: "Lato", sans-serif;
//   }
  
  
//   .sidenav {
//     height: 100%;
//     width: 250px;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     padding-top: 20px;
//   }
  
//   .sidenav a {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//   }
  
//   .sidenav a:hover {
//     color: #f1f1f1;
//   }
  
//   .main {
//     margin-left: 160px; /* Same as the width of the sidenav */
//     font-size: 28px; /* Increased text to enable scrolling */
//     padding: 0px 10px;
//   }
  
//   @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
//   }

side-bar {
  margin-left: -15px;
  width: 100%;
}
@font-face{
  font-family: 'Quicksand', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Quicksand:300);
}
.sidebar_links {
  width: 100%;
  color: white;
  margin-left: 30px;
  padding-top: 20px;
  font-family: side_font;
  font-weight: 300;
}

.sidebar_button {
  height: 100%;
  margin-bottom: 0px;
  width: 120%;
}
.sidebar_button2 {
  width: 100%;
  height: 100%;
}
.sidebar_button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #dab196;
}
.sidebar_button2:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #dab196;
}

.icn {
  color: white;
  padding-top: 18px;
  padding-left: 30px;
}
.name{
    margin-left: -30px;
}

.nav-link{
  transition: 0.3s;
  color: white;
  background-color: #17191d;
}
.nav-text{
  color: #ddb66d;
  font-weight: 500;
}