<head><link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet"></head>
<div class="row">
   <div class="col-md-3">
      <div class="side-bar" style="background-color:#dc8f6c; padding-top:100px;" >
          
          
            <div class="sidebar_button2" routerLink="/extra_curricular" routerLinkActive="nav-link active " (click)="userExtraCur()">
                <div class="row">
                    <div class="col-md-1 icn">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col-md-9 name">
                        <p class="sidebar_links" routerLinkActive="nav-text active ">My Profile</p>
                    </div>
                </div>
            </div>
  
          <div class="sidebar_button2" routerLink="/extra_curricular" routerLinkActive="nav-link active " (click)="userExtraCur()">
              <div class="row">
                  <div class="col-md-1 icn">
                    <i class="fas fa-truck-pickup"></i>
                  </div>
                  <div class="col-md-9 name">
                      <p class="sidebar_links" routerLinkActive="nav-text active ">Add Vehicle</p>
                  </div>
              </div>
          </div>
          
          <div class="sidebar_button2" routerLink="/manage_marks" routerLinkActive="nav-link active " (click)="userStudentMarks()">
              <div class="row">
                  <div class="col-md-1 icn">
                     <i class="fas fa-book"></i>
                  </div>
                  <div class="col-md-9 name">
                      <p class="sidebar_links" routerLinkActive="nav-text active ">Service History</p>
                  </div>
              </div>
          </div>

          <div class="sidebar_button2" routerLink="/student_progress" routerLinkActive="nav-link active " (click)="userStudentProg()">
              <div class="row">
                  <div class="col-md-1 icn">
                    <i class="far fa-bell-slash"></i>
                  </div>
                  <div class="col-md-9 name">
                      <p class="sidebar_links" routerLinkActive="nav-text active ">Notifications</p>
                  </div>
              </div>
          </div>

          <div class="sidebar_button2" routerLink="/student_progress" routerLinkActive="nav-link active " (click)="userStudentProg()">
                <div class="row">
                    <div class="col-md-1 icn">
                        <i class="far fa-question-circle"></i>
                    </div>
                    <div class="col-md-9 name">
                        <p class="sidebar_links" routerLinkActive="nav-text active ">Help Center</p>
                    </div>
                </div>
            </div>
  
      </div>
  </div>
  <div class="main col">
      <h2>Sidebar</h2>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    </div>

</div>