.footer{
    background: #152F4F;
    color:white;
    font-family:  'Quicksand', sans-serif;
    .text{
      text-align: center;
      
    }
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 50px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
    .icon{width: 25px;;height: 50px;}
  }