<!-- <div class="row" style="height: 500px; margin-top: 100px;">
    <div class="col-sm-6 col-md-6 col-lg-6 shadow p-3 mb-5 bg-white rounded">
        <img src="../../assets/img/download.jpg" style="width: 100%;"> 
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        
    </div>
</div> -->
<div class="container-fluid" style="margin-top: 150px;">
    <h1 style="font-weight: bolder; padding-bottom: 70px;" align="center">Join <span style="color:coral">WITH</span> Us Now<mat-icon>done_all</mat-icon></h1>
    
    <div class="row">     
        <div class="card-group">
            <!-- Customer signup -->
            <div class="card mb-4">
                <div class="view overlay">
                        <img class="card-img-top" src="../../assets/img/user_signup.jpg" style="height: 300px;" alt="Card image cap">
                        <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                        </a>
                </div>              
                <div class="card-body">
                    <h4 class="card-title" style="font-weight: bolder;">Sign Up as Customer</h4>
                        <p class="card-text">Are you looking for a mechanic? Save your time and make your fixing easy. Join with us Now !!!</p>
                        <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>SIGN UP</button>
                
                </div>
            </div>
            <!-- Mechanic signup     -->
            <div class="card mb-4">
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/mechanic_signup.jpg" style="height: 300px;" alt="Card image cap">
                    <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>              
                <div class="card-body">
                    <h4 class="card-title" style="font-weight: bolder;">Sign Up as Mechanic</h4>
                        <p class="card-text">Fix when you want; make as much money as you need. Join with us Now!!</p>
                        <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>SIGN UP</button>
                </div>
            </div>
            <!-- Service center sign up -->
            <div class="card mb-4">
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/service_signup.jpg" style="height: 300px;" alt="Card image cap">
                    <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="font-weight: bolder;">Sign Up as Service Center</h4>
                    <p class="card-text">Make money on your schedule. Make your client happy. Join with us Now!!</p>
                    <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>SIGN UP</button>
                </div>
            </div>
        </div>        
    </div>
</div>
      
  
  