
<div class="row" style="padding: 100px 400px 0px 400px;">
        <!-- Card -->
        <div class="card">
                <h4 class="card-title" style="font-weight: bold;"><a>Emergency services</a></h4>
            <img class="card-img-top" src="../../../assets/img/emer.jpg" style="height: 350px;"alt="Card image cap">
            <div align="center" class="card-body">
                </div>
                </div>

                <div></div>
            <li> The purpose of this system is to bridge the communication gap between the driver who is in need of service and the mechanic/service center. A driver can easily find the service provider in a nearby location and contact them to obtain the service through the system. Therefore in case of emergency in unknown roads, drivers can manage to contact the mechanics easily through our system.
            </li></div>
            <div class="card"></div>
            <h4 class="card-title" style="font-weight: bold;"><a>Non-Emergency services</a></h4>
            <img class="card-img-top" src="../../../assets/img/nonemer.jpg" style="height: 350px;"alt="Card image cap">
            <li> to provide vehicle drivers and mechanics/service centers with a platform to contact each other during non-emergency situations.Bridge the gap between the customer and the service provider and make those services efficient and effective. </li>
        