
<div class="row" style="margin-top:50px; padding-right: 50px;">
    <div class="col-8">
        <h2 style="padding-top: 100px; padding-left:40px;">FIND A <span>MECHANIC FROM</span> WHERE YOU ARE</h2>
        <p class="content" style="font-size: 20px; padding-top: 10px;">
            One of the most common issues a person can face while travelling is a Vehicle breakdown. 
            Let’s assume that you are stuck on a lesser travelled road and the nearest civilians are miles away.
            Most people find it difficult to get roadside assistance in such emergency cases. The situation becomes worse when vehicle owners have to rely on an unknown person.
        </p>
    </div>

    <div class="col-4">
        <img src="../../assets/img/emer.jpg" class=" img-fluid" style="height: auto; width: 100%;margin-left: 0px;">
    </div>
</div> 

<div class="row" style="margin-top:0px; padding-right: 50px;">
    <div class="col-4">
        <img src="../../assets/img/records.jpg" class=" img-fluid" style="height: auto; width: 100%; margin-left: 50px;">
    </div>

    <div class="col-8">
        <h2 style="padding-top: 100px; padding-left:40px;">MAKE <span>ONLINE</span> APPOINTMENTS</h2>
        <p class="content" style="font-size: 20px; padding-top:0px;">
            From oil changes to transmission replacements, find the best & nearest mechanic for your requirement. Make your appoinment with service center online and make your fixing easy.        
        </p>
       
    </div>
</div> 

<div class="row" style="margin-top:50px; padding-right: 50px;">
    <div class="col-8">
        <h2 style="padding-top: 100px; padding-left:40px;">RECORD <span>SERVICE</span> HISTORY</h2>
        <p class="content" style="font-size: 20px; padding-top: 10px;">
           Keeping a detailed record of all repairs, maintenance, and inspection is an essential duty of a vehicle owner. It enhances operator safety, increases its resale value, prevents unnecessary expensive repairs and helps to keep your vehicle in good condition. But recording and maintaining these records manually is a hassle process. So the vehicle owners favour finding an automated system to overcome these issues.
                  
        </p>
    </div>

    <div class="col-4">
        <img src="../../assets/img/emer.jpg" class=" img-fluid" style="height: auto; width: 100%;">
    </div>
</div>          
